<a href="https://colab.research.google.com/github/shivasrinivasaraopinnamaneni/shivasrinivasarao_INFO5731_FALL2021/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/01/2021, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [9]:
def str_len(str):
  count=0
  for x in str:
     count +=1
  print(count)
str_len("siva")

4

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [63]:
x="google.com"
s1={}
list1=[]
for val in x:
  count=0
  for val2 in x:
    if val==val2:
      count+=1
    s1[val]=count
print(s1)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [11]:
list1=[1,2,3,4]
sum=0
for x in list1:
  sum+=x
print(sum)

10

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [54]:
def funct1(value):
  l1=len(value)
  a1=value[0]
  value=value.replace(a1,"$")
  value=a1+value[1:]
  return value
print(funct1("restart"))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [48]:
def funct1(a,b):
 S=3.14*(1+a/b)**3
 return S
print(funct1(3,4))

16.8284375

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [53]:
dic1={1:10, 2:20} 
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic1.update(dic2)
dic1.update(dic3)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [16]:
tuple1=("hi",1,2,"siva")
if not tuple1:
  print("tuple is empty ")
else:
  print("tuple not empty")

tuple not empty

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [14]:
set1={1,2,3,4,6,99}
print("maximum value of set is: ",max(set1))
print("minimum value of set is: ",min(set1))

maximum value of set is:  99
minimum value of set is:  1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
           'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

In [64]:
studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']
import numpy as np
val1=[]
def funct1(studnet_list,val):
  ser=np.random.shuffle(studnet_list)
  for x in range(0,len(studnet_list),val):
    val1.append(studnet_list[x:x+val])
  return val1
val2=5
print(funct1(studnet_list,val2))

[['pk0339', 'mv0299', 'nm0547', 'rrk0058', 'at0739'], ['hn0145', 'ttp0037', 'ds0761', 'msp0174', 'dy0091'], ['hc0439', 'pc0353', 'mn0426', 'ri0094', 'ss1995'], ['dd0420', 'vl0135', 'snd0097', 'vmb0067', 'pn0159'], ['bk0301', 'tv0119', 'yye0005', 'spk0057', 'rs0850'], ['sg0940', 'py0080', 'at0768', 'rak0120']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [42]:
import numpy as np
arra1=np.array([1,2,3,4])
count=[]
for x in range(0,len(arra1)):
  for y in range(x+1,len(arra1)):
    if(arra1[x]==arra1[y]):
     
      count.append(arra1[y])
  
if len(count)==0:
  print(-1)
else:
  print("duplicate values are:",count)

-1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)